@import "../variables.scss";

.container {
  border-bottom: 1.5px solid black;
  width: 100vw;
  height: 100%;

  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h2 {
  font-size: 28px;
  font-weight: 400;
  font-family: $font-titles;
  padding: 0.4em 0 0.4em 0;
  text-align: center;
  width: 100vw;
  font-style: italic;
  font-weight: bold;

  max-width: 80%;
  min-width: 400px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;

  width: 100%;

  border-top: 1.5px solid black;

  section {
    width: 100%;
    height: 100%;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section:nth-child(2) {
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    padding: 4em 0;
  }

  section:nth-child(3) {
    margin-left: 2px;
  }

  .imgParent {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;

    background-color: white;
    opacity: 0.5;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      margin: 0;
      padding: 0;
    }
  }
}

.coffee_shop {
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;

  border-top: 1.5px solid black;
  padding: 4em 0 6em 0;

  gap: 6em;

  .info {
    width: 100%;
    max-width: 80%;

    h2 {
      font-size: 24px;
      font-weight: 400;
      padding-bottom: 0.4em;
    }

    span {
      font-size: 16px;
    }
  }

  .coffee_carroussel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
}

@media (max-width: 1080px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    justify-content: center;
  }
  .coffee_shop {
    .coffee_carroussel {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2vw;
    }
  }
}

@media (max-width: 550px){
  .coffee_shop {
    .coffee_carroussel {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (max-width: 500px) {
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    section:nth-child(2) {
      border-top: 1.5px solid black;
      border-bottom: 1.5px solid black;
    }
  }

  .h2 {
    font-size: calc(12px + 4vw);
    padding: 0.4em 4em;
    max-width: 80%;
    min-width: auto;
  }
}