@import "../variables.scss";

.card_parent {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card {
    width: calc(175px + 10vw);
    position: relative;

    .img {
      width: inherit;
      height: auto;
      border: 1.5px solid black;
    }
  }

  .card2 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    transition: 0.25s ease-in;
    width: calc(175px + 10vw);
    height: fit-content;

    .img2 {
      width: inherit;
      height: auto;
      opacity: 0;
    }
  }

  .title {
    position: absolute;
    transition: 0.25s ease-out;
    transform: translateY(-10px);

    opacity: 0;

    font-family: $font-titles;
    font-size: 24px;

    z-index: 9999;
  }

  &:hover {
    .card {
      .info {
        opacity: 1;
      }
    }

    .card2 {
      opacity: 0.5;
    }

    .title {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

@media (max-width: 550px) {
  .card_parent {
    .card {
      width: 80vw;
    }

    .card2 {
      width: 80vw;
    }
  }
}
