.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: fit-content;
  border-bottom: 1.5px solid black;
  padding: 1em 0;
  height: 10vh;

  a{
    margin: 0;
    padding: 0;
  }
}

.logo {
  height: 10vh;
  margin-left: 30px;
}

@media (max-width: 400px){
.logo_container{
  padding: 1em 0;
  height: 20vw;
}

  .logo{
    width: 80vw;
    margin-left: 0;
  }
}
