@import "../variables.scss";

.landing_hero_reset {
  margin: 0;
  padding: 0;
}

.hero_container {
  overflow: hidden;
  width: 100vw;
  max-height: 80vh;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 0;

  border-bottom: 1.5px solid black;
}

.image_parent {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.hero_bg_img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center;
  margin: 0;
  padding: 0;
}

.tint {
  position: absolute;
  width: 100%;
  min-height: 80vh;
  z-index: 1;
  background-color: white;
  opacity: 0.5;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  gap: 1em;

  h1 {
    font-size: 32px;
    font-weight: 500;
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 80%;
    max-width: 1080px;

    span {
      display: inline-block;
      background: transparent;
      border-radius: 0.8em 0.3em;
      background-image: linear-gradient(
        to right,
        rgba(255, 225, 0, 0.1),
        rgba(255, 225, 0, 0.742) 4%,
        rgba(255, 225, 0, 0.501) 96%,
        rgba(255, 225, 0, 0.1)
      );
      padding: 2px 6px 2px 6px;
    }

    em {
      font-size: 40px;
      font-weight: bolder;
      font-family: $font-titles;
      padding: 2px 6px 2px 6px;
    }
  }

  .button {
    border: 0;
    color: white;
    background-color: $green;
    font-size: 18px;
    padding: 0.8em 0.8em;
    cursor: pointer;
    transition: 0.2s ease-out;
    text-decoration: none;

    border: 1.5px solid black;

    &:hover {
      scale: 1.05;
    }
  }
}
