.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-height: 100%;

  margin: 0;
  padding: 0;
}

.navParent{
  position: relative;
}

.navbar{
  border-top: 1.5px solid black;
  position: absolute;
}

.navbar.stickyHeader{
  position: fixed;
  top: 0;
  z-index: 999999;
}